.heading
{
    font-size:23px ;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px lightskyblue ;

}

.note
{
    font-size:15px ;
    color: pink;
}

.copy_right_footer {
    position: fixed;
    color:lightskyblue ;
    bottom: 0;
    width: 100%;
    background-color: pink;
    line-height: 3;
    text-align: center;

}

canvas
{
    border: 5px solid lightskyblue;
    border-radius:20px ;
    box-shadow: 5px 5px 5px pink;
}